<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="app.css">
    <style>
        body {
            background-color: black;
            color: whitesmoke;
        }
    </style>
</head>

<body>
    <%- include ('../partials/nav.ejs') %>

        <h2 class="blogs-title">
            <%= title %>
        </h2>
        <div class="blog-info">
            <h3>
                <%= blog.title %>
            </h3>
            <h4>
                <%= blog.author %>
            </h4>
            <p>
                <%= blog.content %>
            </p>
            <a href="delete-blog/<%=blog.id%>">Delete Blog</a>
        </div>
</body>

</html>